lab1/.vscode/*
lab2/.vscode/*
lab4/.vscode
lab1/bin/*
lab2/bin/*
lab1/*.json
lab1/obj/*
lab2/obj/*
lab4/obj/*
lab4/scripts
lab4/bin
lab1/texts/*
lab1/*.txt
/Debug/
libtext.a
lab2/*.txt
lab2/threads/*
lab2/scripts/threads/*
lab2/scripts/__pycache__/*
lab4/decr.txt
lab4/encr.txt
lab4/key.txt
lab4/text.txt
lab4/Makefile
lab4/text1.txt
